body {
    
}
.navbar {
  background-color: #180617;
  border-radius: 3px;
  margin-top: 5px;
}
.navbar ul {
  overflow: auto;
}
.navbar li {
  float: left;
  list-style: none;
  margin: 0px 20px;
}
.navbar li a:hover {
  color: red;
  font-size: 30px;
}
.search {
  float: right;
  color: white;
  /* padding: 0px 39px; */
  margin-left: 300px;
}

.bname {
  font-size: 20px;
  margin-left: 21px;
  font-family: emoji;
  font-style: inherit;
  color: crimson;
}
.image {
  height: 80%;
  width: 100%;
}
.centered {
  color: antiquewhite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.h1 {
  margin-left: 30px;
  font-size: 69px;
  /* font-size: revert; */
  font-family: revert;
  font-style: italic;
}
.h3 {
  margin-left: 40px;
  font-size: 25px;
  /* font-size: revert; */
  font-family: revert;
  font-style: italic;
}

.pw {
    background-color: darkslategray;
    font-style: oblique;
    font-size: 30px;
    font-stretch: condensed;
    text-align: center;
    color: white;
    padding: 51px;
}

.pw1{
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 29px;
}

.hw1{
margin-left: 200px;
margin-top: 100px;
}
.image1{
    margin-left: -24px;
    height: 46%;
    width: 103%;

}

.image2{
    height: 165px;
    width: 250px;
    margin: 170px;;
}

.rowb1{
margin-top: 20px;
}
.colb1{
    margin: 40px;
    border: solid black;
}
.ib1{
    width: 340px;
    height: 250px;
    
}

.pb1{
    margin-top: 25px;
    padding: 25px;
}
.ab1{
    margin: 90px;
}
.h3b1{
    margin-top: 25px;
    margin-left: 20px;
}

.rowb2{
    margin:60px;
}

.colblog1{
    margin-right: 150px;
    margin-top: 5px;
    margin-left: 150px;
    /* margin: 100px; */
    border: solid wheat;
    padding: 30px;

}
.blog1img{
    
    padding-left: 111px;
    padding-top: 35px;
}