.navbar{
    background-color: darkgrey;
    border-radius: 13px;
    margin-top: 5px;
}
.navbar ul{
    overflow: auto;
    
}
.navbar li{
    float: left;
    list-style: none;
    margin: 0px 20px;
}
.navbar li a:hover{
    color: red;
    font-size: 30px;
    
}
.search{
    float: right;
    color: white;
    /* padding: 0px 39px; */
    margin-left: 300px;
}

.container{
    max-width: 1300px;
    margin: auto;
}
.bname{
    font-size: 20px;
    margin-left: 21px;
    font-family: emoji;
    font-style: inherit;
    color: crimson;
}
}